<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<div class="container">
    <div class="row mt-5">
        <h1>Home Page</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque laudantium temporibus numquam obcaecati, corporis earum inventore natus molestiae nemo perferendis mollitia fugit sunt architecto, vitae, cum vel blanditiis voluptatum modi. Placeat, ullam suscipit eaque enim iusto debitis accusantium accusamus! Reiciendis fugit, sed quo iste corporis qui rerum sint accusantium alias voluptatum necessitatibus, impedit velit similique non eveniet corrupti cupiditate quisquam. Incidunt autem rem provident iusto quasi impedit, officia quia itaque maxime consequuntur.</p>
    </div>
</div>
<%- include('./partials/footer.ejs') %>